%footer{role: "footer"}
  %nav
    %ul
      %li
        = link_to t("navigation.features"), "features.html"
      %li
        = link_to t("navigation.prices"), "pricing.html"
      %li
        = link_to t("navigation.imprint"), "impressum.html"
