<div>
  <ul>
    <li>
      <h2>
        Sitemap
      </h2>
    </li>
    <li>
      Features
    </li>
    <li>
      Preise
    </li>
    <li>
      Kostenlos Testen
    </li>
    <li>
      Einloggen
    </li>
  </ul>
  <ul>
    <li>
      <h2>
        Support
      </h2>
    </li>
    <li>
      FAQs
    </li>
    <li>
      Blog
    </li>
  </ul>
  <ul>
    <li>
      <h2>
        Kontakt
      </h2>
    </li>
    <li>
      Telefonnummer
    </li>
    <li>
      mailadresse
    </li>
  </ul>
  <ul>
    <li>
      <h2>
        Social
      </h2>
    </li>
  </ul>
</div>
