.hero.teaser
  .wrap
    %header
      %h1 Save time for pressing matters
      %h2
        Make your life easier and your employees happier. Make it run like 
        clockwork. No pun intended.

    .screenshot
      = image_tag "screenshot.jpg", alt: ""

      %nav 
        %ul
          %li
            = link_to "Explore features", "features.html", class: "button button-black"
          %li
            = link_to "Start your trial", "https://app.clockwork.io/users/sign_up", class: "button button-green"
