.teaser
  .wrap
    %header
      %h1 Save time for pressing matters
      %h2
        Make your life easier and your employees happier. 
        Here, take Clockwork - scheduling won't be your concern anymore.

    .screenshot
      = image_tag "screenshot.jpg", alt: ""

      %nav 
        %ul
          %li
            = link_to "Explore features", "features.html", class: "button button-black"
          %li
            = link_to "Start your trial", "#", class: "button button-green"
