$blue: #117BBE
$darkblue: #0D5B8D
$orange: #FF6624
$grey: #6E6F70
$darkgrey: #444

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

$sans-serif: 'SourceSansPro'
$header-font: 'Montserrat'
$body-text: 'Merriweather'

$desktop: new-breakpoint(min-width 768px)
$tablet: new-breakpoint(max-width 768px)
