@import 'bourbon/bourbon';
@import 'settings';

header.master,
.teaser {
  background:$blue;
  color:$light-grey;
}

header.master {
  padding-top:10px;

  h1 {
    float:left;
  }

  nav {
    @include clearfix;

    border-bottom:1px solid rgba(255,255,255,.1);

    ul {
      padding:0;
      margin:25px 0;
      float:right;
    }

    li {
      display:inline;
      float:left;
      margin-right:30px;

      &:last-child {
        margin-right:0;
      }
    }

    a {
      color:$light-grey;

      &:hover {
        color:#fff;
      }
    }
  }
}

.teaser {
  padding-top:80px;

  h1 {
    font-size:48px;
    text-transform:uppercase;
  }

  h2 {
    font-size:30px;
    font-weight:normal;
    color:$light-blue;
  }
}

.screenshot {
  width:810px;
  background:url(../images/browser.png) top center no-repeat;
  padding-top:25px;
  margin:0 auto;
}
