@import 'bourbon/bourbon';
@import 'settings';

header.master,
.teaser {
  background:$blue;
  color:$light-grey;
}

header.master {
  padding-top:10px;

  h1 {
    float:left;
  }

  nav {
    @include clearfix;

    border-bottom:1px solid rgba(255,255,255,.1);

    ul {
      padding:0;
      margin:25px 0;
      float:right;
    }

    li {
      display:inline;
      float:left;
      margin-right:30px;

      &:last-child {
        margin-right:0;
      }
    }

    a {
      opacity:$inactive-opacity;
      color:$light-grey;

      &:hover {
        opacity:$active-opacity;
      }
    }
  }
}

.teaser {
  padding-top:50px;
  height:585px;

  h1, h2 {
    letter-spacing:-0.025em;
  }

  h1 {
    font-size:modular-scale($base-font-size, 3, $ms-ratio);
    text-transform:uppercase;
    margin-bottom:modular-scale($base-font-size, -1, $ms-ratio);
  }

  h2 {
    font-family:"proxima-nova", Helvetica, Arial, sans-serif;
    font-size:modular-scale($base-font-size, 2, $ms-ratio);
    font-weight:400;
    color:$light-blue;
    margin-top:0;
  }
}

.screenshot {
  @include box-shadow(0 5px 15px rgba(0,0,0,.1));

  width:810px;
  background:url(../images/browser.png) top center no-repeat;
  padding:25px 0 0;
  margin:0 auto;
  position:relative;

  nav {
    position:absolute;
    top:50%;
    margin:-12px 0 0 150px;
    font-size:modular-scale($base-font-size, 1, $ms-ratio);
  }

  li {
    display:inline;
    float:left;

    &:first-child {
      margin-right:100px;
    }
  }

  a {
    @include transition(opacity 1s ease);

    opacity:$inactive-opacity;

    &:hover {
      opacity:$active-opacity;
    }
  } 
}

[role=footer] {
  width:810px;
  padding-top:90px;

  ul {
    padding:0 20px;

    &:first-child {
      float:left;
    }

    &.social {
      float:right;
      margin:5px;

      li {
        margin:0;
      }

      a {
        cursor:pointer;
        display:block;
      }
    }
  }

  li {
    display:inline;
    float:left;
    margin-right:20px;

    &:last-child {
      margin:0;
    }
  }

  a {
    color:$dark-grey;

    &:hover {
      color:#000;
    }
  }
}
