.hero.features.featured
  %h1
    = t("features.features")

  %ul
    %li.feature.templates
      %header
        %h2
          = t("features.flexible")

      .content
        %p
          You are able to use a flexible structure according to your company.
          %br
          With the help of organization, plans, work areas and qualifications
    %li.feature.notifications
      %header
        %h2 Calender Export

      .content
        %p
          Import your Clockwork appointments in other calendar apps on your phone, tablet or computer.
          %br
          So you're on the go always up to date.

    %li.feature.unlimited
      %header
        %h2 Report

      .content
        %p
          You can see who worked on what, when and how many hours.
          %br
          Also downloadable as a CSV and Excel file.

    %li.feature
      %header
        %h2 Conflicts

      .content
        %p
          Never again double occupancy.
          %br
          In case an employee is on vacation or the shift is already taken? You will be notified.

    %li.feature
      %header
        %h2 Share your Documents

      .content
        %p
          You have the ability to upload documents.
          %br
          These then usable to your employees and colleagues.

    %li.feature
      %header
        %h2 Communcation

      .content
        %p
          For internal communication are blog posts available.
          %br
          Also, employees can comment on shifts.

        -#.beta-info
          -#This is a free preview of Clockwork - so some of the described features here are still under construction.


.info-box.start-trial
  %h2
    Ready to give it a try?
    = link_to "Start your free trial", "https://app.clockwork.io/signup", class: "button big-button button-orange"

.features.to-come
  %h2 Features do come
  %ul
    %li.feature-to-come
      %header
        %h3 Shift-Trading

      .content
        %p
          with other employees gives you even more flexibility.
    %li.feature-to-come
      %header
        %h3 Message-Hub

      .content
        %p
          for even better communication.

    %li.feature-to-come
      %header
        %h3 Self-Service

      .content
        %p
          planning on vacancies.

    %li.feature-to-come
      %header
        %h3 Qualification

      .content
        %p
          based resource matching.
