[role=footer] {
  @include container;

  border-top: 1px solid #e5e5e5;

  nav {
    padding-top: 10px;
    padding-bottom: 10px;

    @include span-columns(12);

    @media only screen and (min-width: 720px) {
      @include span-columns(10);
      @include push(1);
    }
  }

  ul {
    list-style: none;
    text-align: center;

    @media only screen and (min-width: 720px) {
      padding: 0 20px;
      text-align: center;
    }
  }

  li {
    padding: 5px 0;
    text-align: center;

    @media only screen and (min-width: 600px) {
      display: inline;
      margin-right: 50px;
      text-align: left;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    color:$mid-grey;

    &:hover {
      color:$dark-grey;
    }
  }
}
