* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header.master,
.teaser {
  background: #117bbe;
  color: #f2f2f2; }

header.master {
  padding-top: 10px; }
  header.master h1 {
    float: left; }
  header.master nav {
    zoom: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    header.master nav:before, header.master nav:after {
      content: "";
      display: table; }
    header.master nav:after {
      clear: both; }
    header.master nav ul {
      padding: 0;
      margin: 25px 0;
      float: right; }
    header.master nav li {
      display: inline;
      float: left;
      margin-right: 30px; }
      header.master nav li:last-child {
        margin-right: 0; }
    header.master nav a {
      opacity: 0.75;
      color: #f2f2f2; }
      header.master nav a:hover {
        opacity: 1; }

.teaser {
  padding-top: 50px;
  height: 585px; }
  .teaser h1, .teaser h2 {
    letter-spacing: -0.025em; }
  .teaser h1 {
    font-size: 59.30121px;
    text-transform: uppercase;
    margin-bottom: 8.65266px; }
  .teaser h2 {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-size: 36.65094px;
    font-weight: 400;
    color: #c8e8ff;
    margin-top: 0; }

.screenshot {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-top: 30px;
  position: relative; }
  .screenshot:last-child {
    margin-right: 0; }
  .screenshot nav {
    position: absolute;
    top: 50%;
    margin: -12px 0 0 150px;
    font-size: 22.652px; }
  .screenshot li {
    display: inline;
    float: left; }
    .screenshot li:first-child {
      margin-right: 100px; }
  .screenshot .button {
    border-radius: 2em; }
  .screenshot a {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 0.75; }
    .screenshot a:hover {
      opacity: 1; }

[role=footer] {
  width: 810px;
  padding-top: 90px; }
  [role=footer] ul {
    padding: 0 20px; }
    [role=footer] ul:first-child {
      float: left; }
  [role=footer] .social {
    float: right;
    margin: 5px; }
    [role=footer] .social li {
      margin: 0; }
    [role=footer] .social a {
      cursor: pointer;
      display: block; }
    [role=footer] .social .facebook:hover {
      color: #3B5998; }
    [role=footer] .social .twitter:hover {
      color: #0084B4; }
    [role=footer] .social .rss:hover {
      color: #f60; }
  [role=footer] li {
    display: inline;
    float: left;
    margin-right: 20px; }
    [role=footer] li:last-child {
      margin: 0; }
  [role=footer] a {
    color: #a4a4a4; }
    [role=footer] a:hover {
      color: #000; }
