.features.featured
  %ul
    %li.feature.templates
      %header
        %h2 Spend less time organizing.

      .content
        %p
          The template creator makes draft planning quick &amp; smooth. 
          It's scalable, adjustable and easy to use. The premade templates will 
          save you time and thought. Recycle &amp; enjoy!

    %li.feature.notifications
      %header
        %h2 It never hurts to have a little extra reminder.

      .content
        %p 
          Notification Hub makes sure that all shifts are staffed by sending e-mails, 
          social media notifications and texts to your workers. It's automated and will 
          free you from reminding your employees about any schedule changes.

      %li.feature.unlimited
        %header
          %h2 Enough space for everyone.

        .content
          %p
            Arrange your people as needed &ndash; departments, teams, squads 
            &ndash; you name it. We offer you unlimited Units &ndash; Clockwork's 
            name for groups.

.info-box.start-trial
  %h2 
    Ready to give it a try?
    = link_to "Start your free trial", "#", class: "button big-button button-green"

.features
  %ul
    %li.feature
      %header
        %h3 Know it when you need it.

      .content
        %p
          Clock tracking knows who´s busy. It'll tell you what your staff's 
          doing and suggest who can fill the gaps.

    %li.feature
      %header
        %h3 Never panic.

      .content
        %p
          Crisis Handling module makes sure the work flows.  You can't predict 
          everything, but don't worry – moving workers won't be your concern 
          anymore.

    %li.feature
      %header
        %h3 The job gets done.

      .content
        %p
          ShiftTrader lets employees swap shifts without your involvement. 
          It makes sure everyone's in place and doesn't bug you.
