.features.featured
  %ul
    %li.feature.templates
      %header
        %h2 Spend less time organizing!

      .content
        %p
          The template creator makes draft planning quick &amp; smooth. 
          It's scalable, adjustable and easy to use. The premade templates will 
          save you time and thought. Recycle &amp; enjoy!

    %li.feature.notifications
      %header
        %h2 It never hurts to have a little extra reminder.

      .content
        %p 
          Notification Hub makes sure that all shifts are staffed by sending e-mails, 
          social media notifications and texts to your workers. It's automated and will 
          free you from reminding your employees about any schedule changes.

    %li.feature.shift-trading
      %header
        %h2 No matter who does it if the job's done.

      .content
        %p
          ShiftTrader lets workers swap work time without taking yours. You want efficiency. 
          Your employees care about their shifts. The trading system makes sure everone's 
          in place, so you don't have to.

.features
  %ul
    %li.feature
      %header
        %h3 Know it when you need it.

      .content
        %p
          Clock tracking knows who´s busy. It'll tell you what your staff's doing and suggest 
          who can fill the gaps.

    %li.feature
      %header
        %h3 In case of fire don't break anything.

      .content
        %p
          Crisis Handling module makes sure the work flows. It handles crises easily, 
          searching for replacements in other shift schedules. You can't predict everything, 
          but don't worry &ndash; moving workers won't be your concern anymore.
