main

  #blurred_screenshot
    padding: 0 5%
    height: 600px
    background: url("../images/blurred-screenshot.jpg")
    background-image: no-repeat
    background-size: 100%
    width: 100%
    margin-bottom: 90px
    margin-top: 80px
    +media($tablet)
      background: none

  img
    display: block
    margin: 0 auto

    +media($tablet)
      width: 100%

  section
    +outer-container
    font-family: $sans-serif
    font-size: 1.8em
    max-width: 40em
    padding-top: 40px
    h1
      color: $blue
      padding-bottom: 40px
    h2
      color: $blue
      text-transform: uppercase
      font-size: 32px
      padding-bottom: 40px
    a.button
      +span-columns(6)
      +shift(3)
      text-decoration: none
      margin-top: 80px
      margin-bottom: 40px

    article
      padding: 20px 5px 0 5px
      img
        width: 100%

      +media($desktop)
        +span-columns(6)

      +media($tablet)
        +span-columns(12)

    .feature
      padding: 0 5px 20px 5px
      text-align: center
      h1
        font-size: 1em
        text-transform: none
        background-color: $brightgrey
        padding: 6px
        border-radius: 8px
      i
        padding-top: 40px
        font-size: 58px
        color: $blue
        margin: 0

      +media($desktop)
        +span-columns(4)
        +omega(4n)

      +media($tablet)
        +span-columns(12)


    .future-features
      padding: 0 5px 20px 5px
      h1
        font-size: 1em
        text-transform: none
        text-align: center
        color: $darkgrey
        background-color: $brightgrey
        padding: 6px
        border-radius: 8px
      p
        font-size: 0.9em

      +media($desktop)
        +span-columns(4)
        +omega(4n)

      +media($tablet)
        +span-columns(12)

    .future-features-speachbubble
      padding: 0 5px 20px 5px
      +media($desktop)
        +span-columns(8)
        +omega()

      +media($tablet)
        +span-columns(12)

  h1
    font-family: $header-font, $verdana
    color: white
    font-weight: normal
    font-size: 36px
    text-transform: uppercase
    word-spacing: 2px
    text-align: center
    padding-top: 40px

  h2
    color: white
    font-family: $header-font, $verdana
    font-weight: normal
    font-size: 24px
    text-align: center
    word-spacing: 2px
