footer
  min-height: 300px
  background-color: $footergrey
  border-top: 30px solid $grey
  color: white
  font-size: 16px
  z-index: 99

nav
  +outer-container
  padding-top: 10px
  padding-bottom: 10px

  section
    +span-columns(4)
    &:last-child
      margin-right: 0

    +media($tablet)
      +span-columns(12)

    h1
      font-family: $sans-serif, $verdana
      font-weight: normal
      color: rgba(255, 255, 255, 0.5)
      padding-left: 45px
      font-size: 1.8em
      padding-top: 20px

    a
      text-decoration: none
      @include transition (color 0.2s ease-in-out)
      color: rgba(255, 255, 255, 1)

    a:hover
      color: $orange

    ul
      list-style: none

    li
      padding-left: 10px

      &:last-child
        margin-right: 0

      i.icon
        font-size: 18px
        padding-right: 10px
        padding-left: 5px

    i.social
      font-size: 36px
      padding-left: 46px

    hr
      border: 0
      border-bottom: 1px solid rgba(255, 255, 255, 0.3)
      height: 0
      width: 80%
      margin-bottom: 20px

      +media($tablet)
        width: 90%
