#navigation
  position: fixed
  top: 0
  width: 100%
  color: #ffffff
  height: 80px
  text-align: center
  padding-top: 15px
  background-color: $blue


#navigation a
  font-size: 14px
  padding-left: 15px
  padding-right: 15px
  text-decoration: none
  -webkit-transition: color 0.5s ease
  -moz-transition: color 0.5s ease
  -o-transition: color 0.5s ease
  transition: color 0.5s ease
  color: rgba(255, 255, 255, 0.6)


#navigation a:hover
  color: rgba(255, 255, 255, 1)


#header
  margin-top: 100px
