.features {
  &.featured {
    background: $blue;
    color: white;
    padding-bottom: 1em;

    h1 {
      text-align: center;
      @extend .hero-header;
    }

    h3 {
      text-align: center;
      padding-bottom: 1em;
      @extend .hero-header;
    }

    .feature {
      h2 {
        text-align: center;
        padding-top: 20px;
        background-position: top center;
        background-repeat: no-repeat;
        margin: 0;
      }
      header {
        text-align: center;
        padding-top: 70px;
      }
      p {
        text-align: center;
        padding: 0px 10px;
      }
    }
  }


  .templates h2 {
    background-image: image-url("features/icon-templates.png");
  }

  .notifications h2 {
    background-image: image-url("features/icon-notifications.png");
  }

  .unlimited h2 {
    background-image: image-url("features/icon-unlimited.png");
  }

  h1, h2 {
    font-family: $proxima-nova;
  }

  ul {
    @include container;

    margin-top: 0;
    margin-bottom: 60px;
  }

  .feature {
    @include span-columns(12);

    @media only screen and (min-width: 600px) {
      @include span-columns(4);

      &:nth-child(3n) {
        @include span-columns(4 omega);
      }
    }
  }
  .feature-to-come {
    @include span-columns(12);

    @media only screen and (min-width: 600px) {
      @include span-columns(3);
      padding-right:20px;

      &:nth-child(4n) {
        @include span-columns(3 omega);
      }
    }
  }
}

.to-come {
  h2 {
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  }
}
